.progress {
  display: inline-block;
  width: 100%;

}

.progress > div {
  display: inline-block;
  text-align: center;
}

.profilePicture {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}
